@model IEnumerable<DataLayer.Slider>

@{
    ViewBag.Title = "اسلایدر";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">افزودن اسلایدر</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>

    <td>
        @item.StartDate.ToShamsi()
    </td>
    <td>
        @item.EndDate.ToShamsi()
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Url)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsActive)
    </td>
    <td>
        <a href="@Url.Action("Edit" , new { id = item.SlideID })" class="btn btn-warning btn-xs" title="ویرایش محصول"><i class="glyphicon glyphicon-edit"></i></a>
        <a href="@Url.Action("Delete" , new { id = item.SlideID })" class="btn btn-danger btn-xs" title="حذف محصول"><i class="glyphicon glyphicon-trash"></i></a>
    </td>
</tr>
}

</table>
