@model IEnumerable<DataLayer.Slider>

<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-9">
                <!-- Home slide -->
                <div class="block block-slider">

                    <ul class="home-slider kt-bxslider">
                        @foreach (var item in Model)
                        {
                            <li><a href="@item.Url"><img src="~/Images/Slider/@item.ImageName" alt="Slider"></a></li>

                        }

                    </ul>
                </div>
                <!-- ./Home slide -->
                <div class="row">


                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-3 hidden-xs">
                <!-- block category -->

                <div class="block block-category">
                    <div class="block-head">
                        <ul class="nav-tab" style="text-align:center">
                            <li class=""><a data-toggle="tab" href="#tab-guarantee" aria-expanded="false">مقایسه</a></li>
                            <li class="active"><a data-toggle="tab" href="#tab-categories" aria-expanded="true">دسته بندی ها</a></li>

                        </ul>
                    </div>
                    <div class="block-inner">
                        <div class="tab-container">
                            <div id="tab-categories" class="tab-panel active" dir="rtl">
                                @Html.Action("ShowGroups", "Product", new { area = "" })

                            </div>
                            <div id="tab-guarantee" class="tab-panel" dir="rtl">
                                @Html.Action("ListCompare", "Compare")
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    @Html.Action("AmazonOffer", "Product", new { area = "" })
    <!--Block banner -->
    <div class="row">
        <div class="row">
            <div class="col-sm-6">
                <div class="block block-banner banner-hover">
                    <a href="#"><img src="/Content/data/option1/banner3.png" alt="Banner"></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="block block-banner banner-hover">
                    <a href="#"><img src="/Content/data/option1/banner4.png" alt="Banner"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Block banner -->

    <div class="">
        <div class="row">
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-9">

                    <div class="row">
                        <div class="col-md-12 col-lg-4">
                            <div class="block block-shop-features">

                                <div class="block-inner">
                                    <ul class="list-banner">
                                        <li class="banner-hover"><a href="https://www.digikala.com/"><img src="/Content/data/option1/1.gif" alt="بنر"></a></li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                        @Html.Action("LastProduct", "Product", new { area = "" })
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-3">
                    @Html.Action("Amazing", "Product", new { area = "" })


                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-sm-3">
                <div class="block block-banner banner-hover">
                    <a href="#"><img src="/Content/data/Logo_shop/1.jpg" alt="Banner"></a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="block block-banner banner-hover">
                    <a href="#"><img src="/Content/data/Logo_shop/2.jpg" alt="Banner"></a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="block block-banner banner-hover">
                    <a href="#"><img src="/Content/data/Logo_shop/3.jpg" alt="Banner"></a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="block block-banner banner-hover">
                    <a href="#"><img src="/Content/data/Logo_shop/4.jpg" alt="Banner"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- block  host deals -->
        @Html.Action("AmazonOffer", "Product", new { area = "" })
        @*@Html.Action("VisitSite")*@
        <!-- ./block hot deals -->
    </div>
</div>
